{% extends 'base.html'%}
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% block contents %}<!--이부분이 base.html에서 말한 서로 다른 contents가 들어갈 내용이에요 라고 알려주는 것.-->
<body>
    <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" ><rect fill="#777" width="100%" height="100%"/></svg> -->
    <div class="jumbotron">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" ><rect fill="#777" width="100%" height="100%"/></svg> -->
            <div class="container">
                <h1 class="display-3">Welcome, my BLOG!</h1>
                <p>안녕, 나의 블로그에 온 것을 환영해. 위 메뉴 중에서 more을 클릭하면, portfolio로 이동할 수있어.</p>
                <p><a class="btn btn-dark btn-lg" href="{% url 'portfolio' %}" role="button">More see &raquo;</a></p>
            </div>
    </div>
    <br>
    {% for blog in blogs.all %}
        <!-- <div class="container">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{blog.title}}</h2>
                    <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
                    <p class="card-text">{{blog.summary}}</p>
                    <a href="{% url 'detail' blog.id %}" class="card-link">...more</a>
                </div>
            </div><br>
        </div> -->
        <div class="container">
            <div class="card border-light mb-3">
                <h5 class="card-header" style="background-color: #D6E7F4;"> <i class="far fa-sticky-note"></i> &nbsp{{blog.title}}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{blog.pub_date}}</h5>
                    <p class="card-text">{{blog.summary}}</p>
                    <a href="{% url 'detail' blog.id %}" class="card-link">...more</a>
                </div>
            </div><br>
        </div>
    {% endfor %}
    


    
</body>
{% endblock %}
